:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 9%;
  --card: 0 0% 99%;
  --card-foreground: 0 0% 9%;
  --muted: 0 0% 95%;
  --muted-foreground: 0 0% 45%;
  --border: 0 0% 92%;
}


.dark {
  --background: 0 0% 5%;
  --foreground: 0 0% 98%;
  --card: 0 0% 6%;
  --card-foreground: 0 0% 98%;
  --muted: 0 0% 11%;
  --muted-foreground: 0 0% 71%;
  --border: 0 0% 12%;
}
